.frame1 {
	background-color: #FFFFFF;
	align-items: flex-start;
	justify-content: flex-start;
	border-radius: 12px;
	padding: 12px;
	border-width: 1px;
	border-color: #CCCCCC;
	display: flex;
	gap: 16px;
	flex-direction: column;
}

.labelText {
	color: #050633;
	letter-spacing: -0.5%;
	line-height: 20px;
	font-size: 14px;
	font-weight: 500;
	text-align: left;
}

.visitCount {
	color: #050633;
	letter-spacing: -0.5%;
	line-height: 35px;
	font-size: 40px;
	font-weight: 600;
	text-align: left;
}

.visitTrend {
	width: 115px;
	height: 20px;
	align-items: flex-start;
	justify-content: flex-start;
	display: flex;
	gap: 2px;
	flex-direction: row;
}

.trendPercentage {
	color: #38BEAA;
	letter-spacing: -0.5%;
	line-height: 20px;
	font-size: 12px;
	font-weight: 700;
	text-align: left;
}

.trendDescription {
	color: #666666;
	letter-spacing: -0.5%;
	line-height: 20px;
	font-size: 12px;
	font-weight: 300;
	text-align: left;
}